@import 'variables';

.search-dates {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 3rem 0 4rem 0;

  @media only screen and (max-width: 875px) {
    flex-direction: column;
    align-items: center;

    .input {
      margin-bottom: 1rem;
    }
  }
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.input {
  width: 343px;
  height: 46px;
  border: 2px solid $black;
  box-sizing: border-box;
}

.label {
  margin-bottom: 0.6rem;
}