@import 'typography';
@import 'variables';

.link {
  color: $darkGreen;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.nav {
  color: $white;
  text-decoration: none;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
  }
}