/**
 * Toolkit styles
 */

@import 'buttons';
@import 'components';
@import 'input-fields';
@import 'links';
@import 'mixins';
@import 'typography';
@import 'variables';

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: $darkGreen;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1400px;

    &__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 295px;
    }

    &__links {
      display: flex;
      justify-content: space-between;
      width: 400px;
    }
  }
}

.logo-placeholder {
  background: $white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}

.display {
  background-color: $darkGreen;
  padding: 0.4rem;
  width: 100%;
}