/**
 * Toolkit styles
 */

@import 'buttons';
@import 'components';
@import 'input-fields';
@import 'links';
@import 'mixins';
@import 'typography';
@import 'variables';

.logo-placeholder {
  background: $white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}

.display {
  background-color: $darkGreen;
  padding: 0.4rem;
  width: 100%;
}

.showcase-background {
  background-color: $lightGrey;
  padding: 1rem;
}