/**
 * Toolkit styles
 */

@import 'buttons';
@import 'components';
@import 'input-fields';
@import 'links';
@import 'mixins';
@import 'typography';
@import 'variables';

body {
  margin: 0;
}

.products {
  background-color: $lightGrey;
  width: 100%;

  &__container {
    @include layout-grid;
    width: 1000px;
    margin: 3rem auto 3rem auto;
    padding: 0 1rem 4rem 1rem;

    &__heading {
      grid-column: auto / span 4;
    }

/*     .link {
      float: right;
    } */
  }
}

.logotype {
  width: 60px;
  height: 60px;
}

.header-image {
  width: 100%;
}

.info-block {
  &__container {
    min-width: 350px;
    max-width: 1000px;
    margin: 3rem auto;
    padding: 1rem;

    @media screen and (max-width: 875px) {
      .info-pic {
        width: 100%;
        height: auto;
        margin: 0 auto;
        float: none;
      }
    }
  }
}

.info-pic {
  width: 605px;
  height: auto;
  margin: 0 0 1rem 1.5rem;
  float: right;
}

//Only for style guide
.logo-placeholder {
  background: $white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}

.display {
  background-color: $darkGreen;
  padding: 0.4rem;
  width: 100%;
}

.showcase-background {
  background-color: $lightGrey;
  padding: 1rem;
}