<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banz.ai Hotel</title>
  <link rel="icon" href="assets/bonz.png">
  <link rel="stylesheet" href="../styles/toolkit.css">
</head>

<body>

  <header>
    <nav class="nav-bar">
      <article class="nav-bar__container">
        <section class="nav-bar__container__logo">
          <img src="../assets/Rityta 1.png" alt="logo" class="logotype">
          <a href="../index.html">
            <h1 class="logo">Bonz.ai Hotel</h1>
          </a>
        </section>
        <section class="nav-bar__container__links">
          <a href="../index.html" class="nav">Home</a>
          <a href="our-rooms.html" class="nav">Our Rooms</a>
          <a href="about-us.html" class="nav">About Us</a>
          <a href="bookings.html" class="nav">Bookings</a>
        </section>
        <section class="nav-bar__container__icon">
          <img src="../assets/bars-solid.gif" alt="nav-icon" class="nav-icon">
        </section>
      </article>
    </nav>
  </header>

  <main>
    <h1 id="book-headline">Book Your Stay</h1>
    <article class="search-dates">
      <section class="input-fields">
        <label for="checkIn" class="label">Check In</label>
        <input type="date" id="checkIn" class="input">
      </section>
      <section class="input-fields">
        <label for="checkOut" class="label">Check Out</label>
        <input type="date" id="checkOut" class="input">
      </section>
      <a href="views/bookings.html">
        <button class="button">Search</button>
      </a>
    </article>

    <!--     <article class="book-stay">
      <section class="book-stay__container">
        <h1>Book Your Stay</h1>
        <div class="book-stay__container__input">
          <section class="input-fields">
            <label for="checkIn" class="label">Check In</label>
            <input type="date" id="checkIn" class="input">
          </section>
          <section class="input-fields">
            <label for="checkOut" class="label">Check Out</label>
            <input type="date" id="checkOut" class="input">
          </section>
          <a href="#book">
            <button class="button">Next</button>
          </a>
        </div>
      </section>
    </article> -->

    <article class="room-listing" id="book">
      <section class="room-listing__container">
        <h1>Available Rooms</h1>

        <div class="room-card">
          <img src="../assets/01-day.jpg" alt="room1" class="room-card__image">
          <section class="room-card__room">
            <h2>Premium</h2>
            <p class="info">&#11035 30㎡ &#128101 max. guests: 2 adults</p>
            <p>You won't have time for sleeping, soldier, not with all the bed making you'll be doing. This opera's as
              lousy
              as it is
              brilliant! Your lyrics lack subtlety. You can't just have your characters announce how they feel. That
              makes
              me
              feel
              angry!</p>
            <aside>
              <img src="../assets/smoking-ban-solid.svg" alt="smoking" class="icons">
              <img src="../assets/shower-solid.svg" alt="shower" class="icons">
              <img src="../assets/wifi-solid.svg" alt="wifi" class="icons">
              <img src="../assets/desktop-solid.svg" alt="desktop" class="icons">
            </aside>
            <div class="room-card__room__book">
              <p class="price">From 2800 SEK <br>per night</p>
              <a href="https://www.youtube.com/watch?v=myd2GDiY6RI&list=PLyBs3hz-lIupIr7MV1Afqy0pv6ecovlfm&index=23">
                <button class="button">Book Now</button>
              </a>
            </div>
          </section>
        </div>

        <div class="room-card">
          <img src="../assets/05-day.jpg" alt="room2" class="room-card__image">
          <section class="room-card__room">
            <h2>Superior</h2>
            <p class="info">&#11035 25㎡ &#128101 max. guests: 2 adults</p>
            <p>Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life. What
              kind of a
              father would I be if I said no? Bender, this is Fry's decision… and he made it wrong. Why would I want to
              know that? </p>
            <aside>
              <img src="../assets/smoking-ban-solid.svg" alt="smoking" class="icons">
              <img src="../assets/shower-solid.svg" alt="shower" class="icons">
              <img src="../assets/wifi-solid.svg" alt="wifi" class="icons">
              <img src="../assets/desktop-solid.svg" alt="desktop" class="icons">
            </aside>
            <div class="room-card__room__book">
              <p class="price">From 2300 SEK <br>per night</p>
              <a href="https://www.youtube.com/watch?v=GivkxpAVVC4&list=PLyBs3hz-lIupIr7MV1Afqy0pv6ecovlfm&index=22">
                <button class="button">Book Now</button>
              </a>
            </div>
          </section>
        </div>

        <div class="room-card">
          <img src="../assets/08-day.jpg" alt="room4" class="room-card__image">
          <section class="room-card__room">
            <h2>Standard Comfort</h2>
            <p class="info">&#11035 22㎡ &#128101 max. guests: 2 adults</p>
            <p>Robot 1-X, save my friends! And Zoidberg! Belligerent and numerous. And so we say goodbye to our beloved
              pet, Nibbler, who's gone to a
              place where I,
              too, hope one day to go. The toilet. This is the worst kind of
              discrimination: the kind
              against me!</p>
            <aside>
              <aside>
                <img src="../assets/smoking-ban-solid.svg" alt="smoking" class="icons">
                <img src="../assets/shower-solid.svg" alt="shower" class="icons">
                <img src="../assets/wifi-solid.svg" alt="wifi" class="icons">
              </aside>
              <div class="room-card__room__book">
                <p class="price">From 1700 SEK <br>per night</p>
                <a href="https://www.youtube.com/watch?v=ZTidn2dBYbY&list=PLyBs3hz-lIupIr7MV1Afqy0pv6ecovlfm&index=12">
                  <button class="button">Book Now</button>
                </a>
              </div>
          </section>
        </div>

      </section>
    </article>
  </main>

  <footer>
    <article class="footer">
      <section class="footer__container">
        <div class="footer__container__title">
          <h2>Bonz.ai Hotel</h2>
        </div>
        <div class="footer__container__info">
          <p class="info">
            Address: Vrångsjö
            <br>824 94 Hudiksvall
            <br>Tel: +46650-4689570
            <br>E-mail: reservations@bonzai.com
          </p>
        </div>
        <div class="footer__container__links1">
          <p class="info">
            About Us
            <br>FAQ
            <br>Directions
            <br>Reviews
          </p>
        </div>
        <div class="footer__container__links2">
          <p class="info">
            Careers
            <br>Press Room
            <br>Integrity Policy
            <br>Sustainability
          </p>
        </div>
      </section>
    </article>
  </footer>

</body>

</html>